<div *ngIf="consultants$ | async as consultants" class="consultant">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z4">
    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let consultant">
        {{ consultant.lastName }}
      </mat-cell>
    </ng-container>
    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let consultant">
        {{ consultant.firstName }}
      </mat-cell>
    </ng-container>
    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
      <mat-cell *matCellDef="let consultant">
        {{ consultant.role }}
      </mat-cell>
    </ng-container>
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let consultant">
        {{ consultant.title }}
      </mat-cell>
    </ng-container>
    <!-- E-mail Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>e-Mail</mat-header-cell>
      <mat-cell *matCellDef="let consultant">
        {{ consultant.email }}
      </mat-cell>
    </ng-container>
    <!-- Add to Team Column -->
    <ng-container matColumnDef="addToTeam">
      <mat-header-cell *matHeaderCellDef>Add to Your Team</mat-header-cell>
      <mat-cell *matCellDef="let consultant">
        <button
          routerLink="/user/{{ consultant._id }}"
          class="button-grey"
          mat-raised-button
        >
          Add
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableHeaders"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: tableHeaders"
      (click)="goToConsultant(row)"
      class="consultant-table-row"
    ></mat-row>
  </mat-table>
</div>
<mat-paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>

<button
  color="primary"
  mat-raised-button
  style="margin: 2px;"
  (click)="createConsultant()"
>
  New Consultant
</button>
