<nav fxLayout="row" class="app-header" fxLayoutAlign="start center">
  <a mat-icon-button [routerLink]="['']" class="app-header-brand">
    <img src="../shared/assets/img/DaughertyTeams.png" alt="Daugherty Logo" />
  </a>

  <div fxFlex></div>
  <div *ngIf="checkLogin(true)">
    <a mat-button [routerLink]="['/user']" class="app-header-link">
      My Consultants
    </a>
    <div fxFlex="1"></div>
    <a mat-button [routerLink]="['/consultants']" class="app-header-link">
      All Consultants
    </a>
    <div fxFlex="1"></div>
    <button mat-button class="app-header-link" (click)="logout()">
      Logout
    </button>
    <div fxFlex="1"></div>
  </div>
</nav>
