// Colors
$white: #ffffff;
$grey: #a7a7a7;
$greyLight: #efefef;

$primary: #2c2c2c;
$primaryLight: #4c4c4c;
$primaryDark: #6c6c6c;

$primaryText: #aa091b;
$headerText: #006600;

$secondary: #1e438e;
$secondaryLight: $white;
$secondaryDark: #d2d2d2;
