@import "~@angular/material/theming";

.wide-boy-club {
  width: 100%;
}

.consultant.mat-card {
  display: block;
  position: relative;
  margin: 25px;
  padding: relative;
  border-radius: 4px;
  width: auto;
  height: 100%;
  @include mat-elevation(9);
}

.comment.mat-card {
  display: block;
  position: relative;
  margin: 5px;
  padding: relative;
  border-radius: 4px;
  width: auto;
  height: 90%;
}

.center {
  margin: auto;
  text-align: center;
  padding: 10px;
}

.button-grey {
  color: white;
  background-color: #4c4c4c;
  margin: 7px;
}

.scroll {
  overflow: auto;
  height: 375px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.mat-card-title {
  color: #568d40;
  font-size: 20pt;
  margin-bottom: 10px;
}

.conView.mat-card {
  @include mat-elevation(9);
  display: block;
  position: relative;
  margin: 20px;
  padding: 0;
}

.comment.mat-card {
  @include mat-elevation(3);
  margin-top: 0px;
}

.mat-elevation-z0.mat-card {
  background-color: #d9d9d9;
}

.comment-text {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.consultantInfo {
  text-align: center;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
