table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 95%;
  margin: 0, 15px;
}

.consultant-table-row {
  cursor: pointer;
  z-index: 0;
}

.consultant-table-row:hover {
  background-color: #eee;
}

.tiny-button {
  width: 20px;
  height: 20px;
}

.nested-link {
  z-index: 1;
}

.button-grey {
  color: whitesmoke;
  background-color: #4c4c4c;
  margin: 7px;
  z-index: 1;
}
