@import "_colors.scss";

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: $primary;
  background-image: linear-gradient($primaryLight, $primary);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  padding: 0 1em;
  &-brand {
    padding: 3px;
    width: 200px;
    height: 50px;
    img {
      height: auto;
      width: 150px;
    }
  }
  &-link {
    font-weight: 500;
    line-height: 3.5;
    font-size: 1.077em;
    // text-transform: uppercase;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    color: whitesmoke;
  }
}
