@import "./styles/_colors";
@import "./styles/angular-material-override";
@import "~@angular/material/theming";
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$du-app-primary: mat-palette($mat-green);
$du-app-accent: mat-palette($mat-blue-grey, A200, A100, A400);
// The warn palette is optional (defaults to red).
$du-app-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$du-app-theme: mat-light-theme($du-app-primary, $du-app-accent, $du-app-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($du-app-theme);

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.radio-label {
  font-size: 0.785em;
  margin-bottom: 0.5em;
  color: $grey;
}

.mat-snack-bar-container {
  background-color: $primaryText;
}

.fa {
  padding: 0 4px;
}

.custom.mat-card {
  display: block;
  position: relative;
  margin: 30px;
  padding: relative;
  border-radius: 4px;
  text-align: center;
}
