<h2 mat-dialog-title>Create Consultant</h2>
<mat-dialog-content>
  <form (ngSubmit)="createConsultant()" #consultantCreateForm="ngForm">
    <table cellspacing="15">
      <tr>
        <td>
          <mat-form-field>
            <input
              [(ngModel)]="consultant.firstName"
              id="firstName"
              name="firstName"
              matInput
              required
              placeholder="First name"
            />
            <mat-error>
              This field is required
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input
              [(ngModel)]="consultant.lastName"
              id="lastName"
              name="lastName"
              matInput
              required
              placeholder="Last Name"
            />
            <mat-error>
              This field is required
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input
              [(ngModel)]="consultant.role"
              id="role"
              name="role"
              matInput
              required
              placeholder="Role"
            />
            <mat-error>
              This field is required
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input
              [(ngModel)]="consultant.title"
              id="title"
              name="title"
              matInput
              required
              placeholder="Title"
            />
            <mat-error>
              This field is required
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input
              [(ngModel)]="consultant.email"
              id="email"
              name="email"
              matInput
              required
              placeholder="Email"
            />
            <mat-error>
              This field is required
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" [mat-dialog-close]="consultant">
    Create
  </button>
</mat-dialog-actions>
