<div
  style="text-align: center;"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="20px"
>
  <form class="example-form">
    <table cellspacing="15">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First name" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Role" />
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Title" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" />
          </mat-form-field>
        </td>
        <td>
          <button
            color="primary"
            mat-raised-button
            style="justify-content: center;"
            [routerLink]="['/consultants']"
          >
            Create
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
