<div
  class="ganon"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="20px"
>
  <div>
    <mat-card class="custom">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Ganondorf</mat-card-title>
        <mat-card-subtitle>King of the Gerudos</mat-card-subtitle>
      </mat-card-header>
      <img
        class="two"
        mat-card-image
        src="https://i.ytimg.com/vi/Q7pzoLQlrsM/maxresdefault.jpg"
        alt="Photo of a Champion"
      />
      <mat-card-content>
        <p>
          Ganondorf is the best Smash Ultimate Character, fit only for
          champions. He not only excels in power and aggression, but is
          nonpareil in disrespect.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-accordion>
      <mat-expansion-panel [disabled]="true">
        <mat-expansion-panel-header>
          <h3 style="color: black">Attacks</h3>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Basic
          </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li><b>A: </b> neutral attack (11%)</li>
          <li><b>A + forward: </b> forward smash (24%)</li>
          <li><b>A + up: </b> up smash (21-24%)</li>
          <li><b>A + down: </b> down smash (1 hit 5%, 2 hits 15%)</li>
          <li><b>A + dash: </b> dash attack (11-15%)</li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tilt
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li><b>A + forward (holding): </b> forward tilt (11%)</li>
          <li>
            <b>A + up (holding): </b> Volcano Kick (sourspot 13%, sweetspot 24%)
          </li>
          <li><b>A + down (holding): </b> Leg Sweep (14%)</li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Aerial
          </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li><b>A: </b> nair (1 hit 7%, 2 hits 12%)</li>
          <li><b>A + forward: </b> fair (17-18%)</li>
          <li><b>A + back: </b> bair (17-18.5%)</li>
          <li><b>A + down: </b> dair (17-19%)</li>
          <li><b>A + up: </b> up air (6-13%)</li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Grab
          </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li><b>Z: </b> grab (-)</li>
          <li><b>A (once grabbed): </b> pummel (1.6%)</li>
          <li><b>Forward (once grabbed): </b> forward throw (8%)</li>
          <li><b>Back (once grabbed): </b> back throw (5%)</li>
          <li><b>Up (once grabbed): </b> up throw (3%)</li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Special
          </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li><b>B: </b> Warlock Punch (30-37%)</li>
          <li><b>B + forward: </b> Flame Choke (12-15%)</li>
          <li><b>B + down: </b> Wizard's Foot (14-16%)</li>
          <li><b>B + up: </b> Dark Dive (11%)</li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-card class="custom">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Example of the Champion</mat-card-title>
        <mat-card-subtitle>Wombo Combo</mat-card-subtitle>
      </mat-card-header>
      <img
        class="two"
        mat-card-image
        src="../shared/assets/img/WCwZJaD.gif"
        alt="Gif of a Champion"
      />
      <mat-card-content>
        <p>
          Above Link is loosed from his mortal coil by Flame Choke to forward
          smash, and finished with a down air.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
