<div class="home" fxLayout="column">
  <div fxLayout="row">
    <div fxFlex></div>
    <div [hidden]="loggedInUser" fxFlex class="home-login">
      <mat-card>
        <form (ngSubmit)="login()" #userLoginForm="ngForm" fxLayout="column">
          <mat-form-field>
            <input
              [(ngModel)]="credentials.username"
              type="text"
              id="username"
              name="username"
              matInput
              required
              placeholder="Username"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              [(ngModel)]="credentials.password"
              type="password"
              id="password"
              name="password"
              matInput
              required
              placeholder="Password"
            />
          </mat-form-field>
          <button
            style="margin: 7px"
            type="submit"
            mat-raised-button
            color="primary"
            class="home-login-button"
          >
            Log In
          </button>
          <button
            style="margin: 7px;"
            mat-raised-button
            color="primary"
            class="home-login-button"
            [routerLink]="['/sign-up']"
          >
            Sign Up
          </button>
        </form>
      </mat-card>
    </div>
    <div fxFlex></div>
  </div>
</div>
